* {
  margin: 0;
  padding: 0;
}

.newPasswordHeading {
  position: absolute;
  font-weight: 600;
  color: rgba(159, 119, 235, 1);
  white-space: pre-line;
}

.newPassOCRLogo {
  height: 35px;
  align-items: flex-start;
}

.newPassEmailInputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.newPassEmailLabel {
  font-weight: 500;
  color: rgba(43, 43, 43, 1);
}

.newPassEmailInput {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

/* new password classes */

.newPasswordLabel {
  font-weight: 600;
  font-size: 13px;
  color: rgb(56, 56, 56);
}

.newPasswordInput {
  height: 32px;
  border: 0.1px solid grey;
  border-radius: 3px;
}

.newPassSecondGrid {
  box-shadow: "none";
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
