* {
  margin: 0;
  padding: 0;
}

.heading {
  position: absolute;
  font-weight: 600;
  color: rgba(159, 119, 235, 1);
  white-space: pre-line;
}

.OCRLogo {
  height: 35px;
  align-items: flex-start;
}

.emailInputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.emailLabel {
  font-weight: 500;
  color: rgba(43, 43, 43, 1);
}

.emailInput {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.secondGrid {
  box-shadow: "none";
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
